$primary_color:#103057;

$child_color: #4e98f1;
$secondary_color: #ffffff;
$neutral-color: #fff;
$font-family: 'Raleway', sans-serif;;
$text-transform: uppercase;
$font-size:1rem;

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
  }
body{
    background: $neutral-color;
    font-family: $font-family;
    color:$primary_color;
}
h4{
    font-weight: 700;
    font-size: $font-size + 1rem;
    padding: 10px 0;
}
ul{
    margin-left: 1.5rem;
}
.navbar{
    text-transform: $text-transform;
    background:$primary_color;
    padding-right:1.5rem;
    padding-left:1.5rem;
    font-weight: 600;
    box-shadow: 0 0 15px 0 rgba(9, 29, 80, 0.733); 
    .navbar-brand{
        width: 190px;
        height: auto;
    }
    .nav-link {
        color:$secondary_color !important;
        &:hover{
            color:$child_color !important;
            font-size: $font-size + 0.03rem;
           
        }
    }

    .nav-link.active {
        color:$child_color !important;
    }
    
    @media (min-width: 768px){

       /* height: 4.5rem;*/
    }
}

.landing{
   /* background-image: url("../img/hero-bg.jpg");*/
    background-color:$primary_color;
    height:100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top:5rem;


    .overlay{
       padding:25vh 8vh;
       @media (max-width: 768px){
            padding:4vh 7vh;
        }
       
    h4,p{
    font-size: $font-size + 0.3rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 36px;
    top: 63%;
    color:$secondary_color;
    margin-bottom: 0;
        @media (max-width: 768px){
            font-size: $font-size;
        }
    }
    p{
        font-size: $font-size + 0.24rem;
        font-weight:500;
        margin-top: -10px;
        @media (max-width: 768px){
            font-size: $font-size -  0.1rem;;
        }
    }


    .btn{
        border-width: thin;
        border-radius: 0;
        text-transform: $text-transform;
        padding: .5rem 1.1rem;
        font-size:$font-size - 0.1rem;
        margin-top: 0.9rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        }
    }
  img{
      width: 100%;
  }
}

#about,#services,#intellectual_property,#contact{
    padding:100px 0;
}

#about{
    line-height: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

#services{
    background-color: #eeeeee;
    h6{
        font-size: 1.1rem;
        margin: 25px 0 10px 0;
    }
    li{
        padding:8px 0;
    }
}

#intellectual_property{
    padding-bottom: 0;
    
    .info-list li{
        display: inline-block;
        background-color: $primary-color;
        color:$secondary_color;
        padding: 16px;
        margin:3px 1.5px;
        font-weight: bold;
        cursor: pointer;
        @media (max-width: 767px){
            font-size:$font-size - 0.01rem;
            padding:12px 14px;
            text-align: right;
        }
    }
    .info-list li.selected{
        color:$child_color !important;
    }
    .info-content > div{
        padding:30px 30px 100px 30px;
        background-color: #eeeeee;
        line-height: 1.8;
        margin:30px -15px 0 -15px; 
    }
    .info-content > div:not(:first-of-type){
        display: none;
    }
  
}


#contact{
    padding:3rem 0 0;
    line-height: 1.8;
    color:$secondary_color;
    background: $primary-color;
    padding-right: 30px;
    padding-left: 30px;

    .info-contact{
        padding-top:3rem;
    }
    h4{
        font-size: $font-size + 0.5rem;
    }
    a{
        color:$secondary_color;
        text-decoration: underline ;
        cursor: pointer;
        font-weight: 600;
        &:hover{
            color:$child_color !important;
            font-size: $font-size + 0.03rem;
        }
    } 
    .number{
        font-family: sans-serif;
    }
    .copyright{
        margin: 2rem 0 0;
        color:$child_color
    }
}
