* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background: #fff;
  font-family: "Raleway", sans-serif;
  color: #103057; }

h4 {
  font-weight: 700;
  font-size: 2rem;
  padding: 10px 0; }

ul {
  margin-left: 1.5rem; }

.navbar {
  text-transform: uppercase;
  background: #103057;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: 600;
  box-shadow: 0 0 15px 0 rgba(9, 29, 80, 0.733); }
  .navbar .navbar-brand {
    width: 190px;
    height: auto; }
  .navbar .nav-link {
    color: #ffffff !important; }
    .navbar .nav-link:hover {
      color: #4e98f1 !important;
      font-size: 1.03rem; }
  .navbar .nav-link.active {
    color: #4e98f1 !important; }
  @media (min-width: 768px) {
    .navbar {
      /* height: 4.5rem;*/ } }

.landing {
  /* background-image: url("../img/hero-bg.jpg");*/
  background-color: #103057;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 5rem; }
  .landing .overlay {
    padding: 25vh 8vh; }
    @media (max-width: 768px) {
      .landing .overlay {
        padding: 4vh 7vh; } }
    .landing .overlay h4, .landing .overlay p {
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 0.5px;
      line-height: 36px;
      top: 63%;
      color: #ffffff;
      margin-bottom: 0; }
      @media (max-width: 768px) {
        .landing .overlay h4, .landing .overlay p {
          font-size: 1rem; } }
    .landing .overlay p {
      font-size: 1.24rem;
      font-weight: 500;
      margin-top: -10px; }
      @media (max-width: 768px) {
        .landing .overlay p {
          font-size: 0.9rem; } }
    .landing .overlay .btn {
      border-width: thin;
      border-radius: 0;
      text-transform: uppercase;
      padding: .5rem 1.1rem;
      font-size: 0.9rem;
      margin-top: 0.9rem;
      font-weight: 600;
      letter-spacing: 0.5px; }
  .landing img {
    width: 100%; }

#about, #services, #intellectual_property, #contact {
  padding: 100px 0; }

#about {
  line-height: 30px;
  padding-right: 15px;
  padding-left: 15px; }

#services {
  background-color: #eeeeee; }
  #services h6 {
    font-size: 1.1rem;
    margin: 25px 0 10px 0; }
  #services li {
    padding: 8px 0; }

#intellectual_property {
  padding-bottom: 0; }
  #intellectual_property .info-list li {
    display: inline-block;
    background-color: #103057;
    color: #ffffff;
    padding: 16px;
    margin: 3px 1.5px;
    font-weight: bold;
    cursor: pointer; }
    @media (max-width: 767px) {
      #intellectual_property .info-list li {
        font-size: 0.99rem;
        padding: 12px 14px;
        text-align: right; } }
  #intellectual_property .info-list li.selected {
    color: #4e98f1 !important; }
  #intellectual_property .info-content > div {
    padding: 30px 30px 100px 30px;
    background-color: #eeeeee;
    line-height: 1.8;
    margin: 30px -15px 0 -15px; }
  #intellectual_property .info-content > div:not(:first-of-type) {
    display: none; }

#contact {
  padding: 3rem 0 0;
  line-height: 1.8;
  color: #ffffff;
  background: #103057;
  padding-right: 30px;
  padding-left: 30px; }
  #contact .info-contact {
    padding-top: 3rem; }
  #contact h4 {
    font-size: 1.5rem; }
  #contact .number {
    font-family: sans-serif; }
  #contact .copyright {
    margin: 2rem 0 0;
    color: #4e98f1; }

/*# sourceMappingURL=main.css.map */
